

svg {
    max-height: 400px;
}
.chart {
    background: #ffffff9e;
}

.chart h1 {
    background: darkslategray;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}